.container
{
    display: flex;
    align-items: center;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(82, 82, 82) 0%, rgb(225, 234, 238) 90%);
    min-height: 100vh;
    flex-direction: column;
}

