.container {
  background-color: rgb(238, 238, 238);
  width: 90%;
  border-radius: 15px;
  margin-top: 20px;
  -webkit-box-shadow: 9px 21px 29px 0px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 9px 21px 29px 0px rgba(0, 0, 0, 0.69);
  box-shadow: 9px 21px 29px 0px rgba(0, 0, 0, 0.69);
}

.topContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(212, 212, 212);
  word-wrap: break-word;
}

.authorName {
  font-size: 20px;
  margin-left: 10px;
  word-wrap: break-word;
}

.titleStyle {
  margin-left: 15px;
  font-size: 29px;
  margin-bottom: 10px;
}



.contentContainer {
  padding: 15px;
  word-wrap: break-word;
}

.reactions
{
  border-top: 1px solid black;
  flex-direction: row;
  padding: 10px;
}

.reactions button{
  border: none;
  background-repeat: no-repeat;
  background-size: cover;  
  background-position: center;
  width: 20px;
  height: 20px;
  padding: 20px;
  border-radius: 5px;
}

.reactions >*
{
  margin-right: 5px;
}
.like{
  background-image: url("https://www.svgrepo.com/show/21106/thumbs-up.svg");
} 

.dislike 
{
  background-image: url("https://www.svgrepo.com/show/56144/thumb-down.svg");
}

.reactions button:hover
{
  cursor: pointer;
}

.reactions .like:hover
{
  background-color: green;
}

.reactions .dislike:hover
{
  background-color: red;
}

