.container
{
    background: radial-gradient(circle at 18.7% 37.8%, rgb(82, 82, 82) 0%, rgb(225, 234, 238) 90%);
    height: 100vh;
    
}

.displayName
{   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    margin: 0 auto;
    height: 50px;
    -webkit-box-shadow: 9px 21px 29px 0px rgba(0, 0, 0, 0.69);
    -moz-box-shadow: 9px 21px 29px 0px rgba(0, 0, 0, 0.69);
    box-shadow: 9px 21px 29px 0px rgba(0, 0, 0, 0.69);
    background-color: rgb(218, 217, 217);
    border-radius: 15px;
}

.createPostContainer
{
    
    border-radius: 15px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.postsContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

