.container {
    background: radial-gradient(circle at 18.7% 37.8%, rgb(82, 82, 82) 0%, rgb(225, 234, 238) 90%);
    height: auto;
  }
  
  .displayName {
    display: flex;
    justify-content:space-between;
    padding: 10px;
    align-items: center;
    flex-direction: row-reverse;
    width: 90%;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    margin: 0 auto;
    height: 50px;
    -webkit-box-shadow: 9px 21px 29px 0px rgba(0, 0, 0, 0.69);
    -moz-box-shadow: 9px 21px 29px 0px rgba(0, 0, 0, 0.69);
    box-shadow: 9px 21px 29px 0px rgba(0, 0, 0, 0.69);
    background-color: rgb(218, 217, 217);
    border-radius: 15px;
  }

  
  .createPostContainer {
    border-radius: 15px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .postsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    border-radius: 15px;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: -0; 
  }
  
  .dropdown_content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
}
  
  .dropdown_content button:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown_content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  